@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar ul {
    display: flex;
    padding: 20px;
    list-style: none;
    justify-content: center;
}

.navbar ul li a {
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

.home {
    display: flex;
    height: 890px;
    background-image: url("image3_0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: 'Ubuntu Mono', monospace;
}

.home p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1200px;
    height: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
}

.button1 {
    margin-top: 50px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Ubuntu Mono', monospace;
}

.services {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 700px;
}

.maow {
    display: flex;
    /* background-color: black; */
    justify-content: space-evenly;
}

.servicescard {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(224, 176, 255);
    border-radius: 30px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.services h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.servicescard p{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 120px;
    text-align: center;
}