@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    font-family: 'Ubuntu Mono', monospace;
    z-index: 1;
}

.navbar ul {
    display: flex;
    padding: 20px;
    list-style: none;
    justify-content: center;
}

.navbar ul li a {
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

.home {
    display: flex;
    height: 930px;
    background-image: url("Assets/image3_0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: 'Ubuntu Mono', monospace;
}

.home p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
}

.button1 {
    margin-top: 50px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Ubuntu Mono', monospace;
}

.services {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

.maow {
    display: flex;
    justify-content: space-evenly;
}

.services h1 {
    font-size: 40px;
    color: black;
}

.servicescard {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(39, 140, 235);
    border-radius: 50px;
    border: 3px solid rgb(38, 38, 247);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.services h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.servicescard p {
    display: flex;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: 'Ubuntu Mono', monospace;
    padding: 35px;
}

.serviceimage1 {
    margin-top: 30px;
    border-radius: 40px;
    width: 200px;
}

.serviceimage2 {
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
}

.serviceimage3 {
    margin-top: 10px;
    border-radius: 30px;
    width: 140px;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clients img {
    margin-top: 30px;
    padding: 40px;
    height: 100px;
}

.clients_logo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.clients h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    margin-top: 150px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contact input {
    padding: 6px;
    border-radius: 20px;
    border: 2px solid rgb(38, 38, 247);
    margin: 10px;
}

.contact h1 {
    color: black;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 100px;
}

.Feedback {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(38, 38, 247);
    margin-top: 20px;
    font-size: 15px;
    width: 640px;
    height: 200px;
}

.first input {
    width: 300px;
    height: 30px;
}

.first {
    margin-top: 50px;
}

.second input {
    width: 300px;
    height: 30px;
}

.logo {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    color: white;
    font-size: 40px;
}

.SubmitButton {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(38, 38, 247);
    color: white;
    border-radius: 25px;
    border: solid white;
    font-family: 'Work Sans', sans-serif;
}

.SubmitButton:hover {
    cursor: pointer;
}

.body::-webkit-scrollbar {
    display: none;
}

.body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}